&wifi {
    status = "okay";
};


/{
    stepper: stepper{
        compatible = "stepper,motor";
        gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>,
                <&gpio0 19 GPIO_ACTIVE_HIGH>,
                <&gpio0 5 GPIO_ACTIVE_HIGH>;
    };

    pwmleds {
        compatible = "pwm-leds";
        fade_led: fade_led {
            pwms = <&ledc0 0 10000 PWM_POLARITY_NORMAL>;
        };
    };

    //I'll probably change for another sensor, like st,vl53l1x since hc_sr04 seems a bit unstable due to the esp32 voltage
    // In order to reduce the complexity and size of the final circuit and also increase accuracy/confiability.
    hc_sr04: hc_sr04 {
        compatible = "hc-sr04";
        trigger-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        echo-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
    };

    /*
    just need to put this inside of a i2c controller node and should work well
    vl53l1x: vl53l1x@29 {
		compatible = "st,vl53l1x";
		reg = <0x29>;
		status = "okay";
		xshut-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		int-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
	}; 
    */

};

&pinctrl {
    ledc0_default: ledc0_default{
        group1 {
            pinmux = <LEDC_CH0_GPIO2>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
};