menu "MQTT options"

config DEVICE_ID
    string "Device name id"
    default "DEV-X"

config MQTT_DEVICE_LOGIN
    string "Device login in MQTT broker"
    default "pet_feeder"

config MQTT_DEVICE_PASSWORD
    string "Device password in MQTT broker"
    default "@D07gbb2as2"


config MQTT_PROTOCOL_VERSION
    int "Protocol version for MQTT"
    default 4

config MQTT_TRANSPORT_TYPE
    int "MQTT transport layer"
    default 0

config MQTT_BROKER_ADDR
    string "Broker address"
    default "192.168.100.31"

config MQTT_BROKER_PORT
    int "Broker port"
    default 1883

config MQTT_RX_BUFFER_SIZE
    int "Rx Buffer size for MQTT"
    default 1024

config MQTT_TX_BUFFER_SIZE
    int "Tx Buffer size for MQTT"
    default 1024

config MQTT_RULES_TOPIC
    string "MQTT Topic path"
    default "device/rules"

config MQTT_SENSOR_TOPIC
    string "MQTT Sensor Topic path"
    default "device/sensor/level"


config MQTT_THREAD_STACK_SIZE
    int "Define MQTT thread stack size"
    default 4096

config MQTT_THREAD_PRIORITY
    int "Define MQTT thread priority"
    default 5

config MQTT_THREAD_PERIOD
    int "Define the period in ms of te MQTT thread"
    default 5000

config MQTT_THREAD_RECONNECT_PERIOD
    int "Define the period in ms for MQTT reconnect"
    default 5000

config NUM_OF_TOPICS
    int "Number of topics"
    default 2

config MQTT_WATCHDOG_TIMEOUT_THREAD
    int "Timout in miliseconds for trigger watchdog for Read Payload thread"
    default 31000

config MQTT_PUBLISH_BUFFER_SIZE
    int "Publish buffer size"
    default 100


endmenu
