menu "Network service options"

config RSSI_WORK_PERIOD
    int "Period for RSSI work in seconds"
    default 10

config RSSI_LOWER_VALUE
    int "Lower value to RSSI for map function"
    default -90

config RSSI_HIGHER_VALUE
    int "Higher value to RSSI for map function"
    default -30
config NETWORK_DISPATCH_THREAD_STACK_SIZE
    int "Stack size for network dispatch thread"
    default 3048
config NETWORK_DISPATCH_THREAD_PRIORITY
    int "Network evt dispatch thread priority"
    default 5

config NETWORK_CONNECTION_MAX_TRIES
    int "Max tries that will be allowed to network to connect/reconnect"
    default 10
endmenu